@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Pagina Inicial</h1>
    <p>Desafio API + dotNet Core 3.1 + SQLServer</p>
</div>
